sphinx>=1.4.8
sphinx_rtd_theme
numpy
scipy
pygmsh
meshio
matplotlib

# Does not install since there is no way to set a installation order 
# with pip install requirenments (https://github.com/pypa/pip/issues/2362)
# fipy