setuptools
ez_setup  # Otherwise fipy will not install
dill  # proper pickling
numpy  # fast math functions on c arrays 
scipy  # equation solver backend and smoothing
pygmsh  # gmsh interface
meshio  # io library for meshes
fipy  # the used finite element solver
matplotlib  # plot library